@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply dark:bg-black bg-zinc-100;
  overflow-x: hidden;
}

:root {
  --font-public-sans: "Public Sans", sans-serif;
  --font-lora: "Lora", serif;
  --main-color: #000;
}

.dark {
  --main-color: #fff;
}

body {
  --sb-track-color: transparent;
  --sb-thumb-color: rgba(255, 255, 255, 0.4);
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(179, 179, 179);
  cursor: grab;
}

body::-webkit-scrollbar-thumb:active {
  background-color: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

main {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}
.page-transition {
  opacity: 0;
  animation: page-in 0.36s ease-out forwards;
}

.page-transition-enter {
  opacity: 0;
  animation: page-in 0.36s ease-out forwards;
}
.page-transition-exit {
  animation: page-out 0.36s ease-in forwards;
}

@keyframes page-in {
  0% {
    scale: 1.22;
    filter: blur(-20px);
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    scale: 1;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes page-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    filter: blur(5px);
    scale: 0.95;
    opacity: 0;
    transform: translateY(340px);
  }
}

.divisor {
  width: 100%;
  display: inline-block;
  border-bottom: solid thin black;
}

.divisor.dark {
  border-bottom: solid thin white;
}

.font-main {
  font-family: var(--font-public-sans);
}

.font-secondary {
  font-family: var(--font-lora);
}

.animate-show {
  animation: show 0.8s ease-out forwards;
  opacity: 0;
}

.text-gradient {
  background: -webkit-linear-gradient(65deg, #725add, #cf5bda, #e45ea1);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-1 {
  background: -webkit-linear-gradient(65deg, #725add, #cf5bda, #e45ea1);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
  background: -webkit-linear-gradient(65deg, #5d8fda, #725add, #b65bda);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-3 {
  background: -webkit-linear-gradient(65deg, #52c2af, #5dc1da, #7763d1);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rotated-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.rotated-text {
  font-size: 16px;
  position: fixed;
  right: 0%;
  bottom: 5%;
  transform: rotate(-90deg) translateY(2180%) translateX(-4%);
  transform-origin: left bottom;
}

@media screen and (max-width: 1160px) {
  .rotated-text {
    z-index: 2;
    font-size: 14px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transform: none;
  }
}

@media screen and (max-width: 576px) {
  .rotated-text {
    font-size: 11px;
  }
}

@media (min-width: 720px) {
  .animate-write {
    opacity: 0;
    overflow: hidden;
    font-size: 11px;
    white-space: nowrap;
    animation: typing 2s steps(55, end) forwards;
  }

  .animate-grow {
    animation: grow 0.5s ease-in both;
  }

  .animate-fade-in {
    animation: fade-in 0.4s ease-in both;
  }

  .animate-in-from-top {
    animation: animate-in-from-top 2s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-delay: 2500ms;
  }
}

@keyframes animate-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  0% {
    opacity: 0;
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 100;
    width: 100%;
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes show {
  from {
    transform: translateY(8px);
    opacity: 0.3;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    filter: blur(30px);
    opacity: 0;
    transform: translateX(-10px);
  }
  5% {
    filter: blur(30px);
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    filter: blur(0px);
    opacity: 1;
    transform: translateX(0);
  }
}
